/* globals.css */
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #6563FF;
  --color-darkBlack: #262626;
}



body {
  background: var(--background);
  color: var(--foreground);
}
