/* globals.css */
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary:#6563FF;
  --color-secondaryText:#787878;
  --color-darkBlack: #262626;
  --color-primaryDisabled:#DDE4FF;
  --color-primaryText:#222;
  --color-primaryBg: #ECF3FF;
  --color-lightPurple:#F5F6FF;
  --color-gradient: linear-gradient(180deg, #6563FF 0%, #5451DD 100%);
  --color-bg:#FCFDFF;
  --color-inputBox:#FAFAFA;
}



body {
  background: var(--background);
  color: var(--foreground);
}
@keyframes scaleIn {
  from { transform: scale(0.95); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

.animate-scaleIn {
  animation: scaleIn 0.2s ease-out;
}
